.brand-gradient {
  background: #46cf94;
  background: linear-gradient(to right, #46cf94 26%, #426ccf 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-holder,
.main-page-header {
  background-image: url('../images/9.png');
  background-size: cover;
  background-position: bottom;
}
.custom-nav {
  backdrop-filter: blur(8px);
}

.body-content {
  min-height: calc(100vh - 168px);
}

.card-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.card-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}