<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs") %>
</head>

<body class="bg-light">

  <%- include("../partials/nav.ejs") %>

    <div class="container my-5 body-content">
      <h1 class="pt-3">Category Edit</h1>
      <div class="row">
        <div class="col-md-12">
          <form class="" method="post">
            <div class="form-group row mb-3">
              <label for="name" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Add name"
                  value="<%= category.name %>">
              </div>
            </div>

            <div class=" row form-group mb-3">
              <div class="col-sm-8 offset-sm-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include("../partials/footer.ejs") %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>


</html>